/* =============================================================================
   Hero Module - Hero block
   ========================================================================== */

.m-hero{
	text-align: center;
	position: relative;

	> div{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		text-align: center;
	}

	p{
		@include subheading;
		color: #fff;
	}

	.m-btn{
		margin-top: 21px;
	}
}

// @media screen and (max-width: $palm){
	
// 	.m-hero{
// 		overflow: hidden;
// 		img{
// 			height: 400px;
// 			width: auto;
// 			max-width: none;
// 		}
// 	}
// }

@media screen and (min-width: $tablet){
	.m-hero{
		> div{
			top: 10%;
		}
	}
}

@media screen and (min-width: $lap){
	.m-hero{
		> div{
			top: 14.5%;
		}

		p{
			font-size: 1.25rem;
			line-height: 1.25em;
		}

		&.sub-hero{
			height: 400px;
			overflow: hidden;

			img{
				position: relative;
				top: -160px;
			}

			.h2{
				font-size: 4.25rem;
				line-height: 1em;

				span{
					font-size: 3.75rem;
					letter-spacing: 2px;
				}
			}

			> div{
				top: 20%;
			}
		}
	}
}

@media screen and (min-width: 1000px){
	.m-hero > div{
		top: 19%;
	}
}