/* =============================================================================
   Schedule Module - Schedule listing
   ========================================================================== */

.m-schedule{
	.schedule-item{
		@include clearfix;
		text-align: center;
		margin-bottom: 11px;
		position: relative;

		> .schedule-avatar{
			margin-top: 3px !important;
		}

		.js-slidetoggle{
			@include subheading;
			color: $orange;

			> span{
				position: relative;
				top: -2px;
				font-size: 1.25em;
				text-decoration: none;
			}

			&.active{
				> span:before{
					content: "\e60c";
				}
			}
		}

		img{
			border-radius: 8px;
		}

		h2 {
			margin: 0.75em 0;
			clear: both;

			+ p{
				font-size: 1.25rem;
				margin: 0 0 0.45em;
			}
		}
		
		.active + .schedule-details-container{
			@include clearfix;
			display: block;
			margin: 15px auto 0;
			float: none;
			text-align: left;
		}

		&:before{
			content: "";
			width: 5px;
			height: 170px;
			background: $greyscale-mid;
			display: block !important;
			margin-left: 49.6%;
		}

		&:after{
			content:"";
			// width: 0; 
			// height: 0; 
			// border-left: 18px solid transparent;
			// border-right: 18px solid transparent;
			// border-top: 20px solid $dark-blue;
			position: absolute;
			// left: 48.25%;
			left: 47%;
			top: 155px;
			width: 20px;
			height: 20px;
			background: $dark-blue;
			border-radius: 100%;
		}
	}
}

@media screen and (min-width: $tablet){
	.m-schedule{
		
		.schedule-item{
			&:after{
				left: 48.9%;
			}
		}

		.active + .schedule-details-container{
			@include clearfix;

			> div{
				width: 48.79402%;
				margin-left: 02.3622047%;
				float: left;
	
				&:first-child{
					margin-left: 0;
				}
			}
		}

	}
}