/* =============================================================================
   Hero Module - Hero block
   ========================================================================== */

.m-hero{
	text-align: center;
	position: relative;

	> div{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		text-align: center;
	}

	p{
		@include subheading;
		color: #fff;
	}
}

@media screen and (max-width: $tablet){
	
	.m-hero{
		overflow: hidden;
		img{
			height: 400px;
			width: auto;
			max-width: none;
		}
	}
}

@media screen and (min-width: $tablet){
	.m-hero{
		> div{
			top: 14.5%;
		}

		p{
			font-size: 1.25rem;
			line-height: 1.25em;
		}
	}
}