/* =============================================================================
   Info Module - Generic Content block
   ========================================================================== */

.m-info-block{
	@include clearfix;
	padding: 45px 0 80px;
	margin: 0;

	&.collapse-block{
		padding: 0;
	}

	&.collapse-block-bottom{
		padding-bottom: 0;
	}

	&.extended-block{
		padding: 120px 0;
	}

	header{
		text-align: center;
		margin-bottom: 21px;
	}

	footer{
		text-align: center;
		a,
		p {
			@include subheading;
			display: block;
		}

		a{
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: $tablet){
	.m-info-block{ 
		&.venue-block{
			position: relative;
			height: 450px;

			img{
				height: 100%;
				width: auto;
				max-width: none;
			}

			.venue-block-text{
				position: absolute;
				z-index: 1;
				left: 20px;
				right: 20px;
				top: 50px;
			}
		}
	}
}


@media screen and (min-width: $tablet){
	.m-info-block{
		padding: 105px 0 150px;

		&.extended-block{
			padding: 300px 0;
		}
		&.venue-block{
			position: relative;

			.venue-block-text{
				position: absolute;
				z-index: 1;
				left: 0;
				top: 200px;
				left: 13.5%;
			}
		}

		header {
			margin-bottom: 42px;
		}

		footer{
			margin-top: 42px;
		}
	}
}