//
// Header Specifics
//

.nav-icon{
	float: left;

	.icon-menu{
		color: #fff;
		display: block;
		margin-top: -9px;
	}

	&.active{
		.icon-menu{
			color: $light-blue;
		}
	}
}

@media screen and (max-width: $tablet){
	.nav-icon{
		.icon-menu{
			margin-top: -11px;
			font-size: 1.25rem;
		}
	}
}

.header-nav{
	background: $dark-blue;
	padding-top: 21px;

	.list-item{
		a{
			color: #fff;
			padding: 11px 8px;
			display: block;
			font-size: 0.85rem;
			text-transform: uppercase;

			&:hover{
				background: #204052;
			}
		}
	}
}

.site-head{
	@include clearfix;
	position: relative;
}

//
// Body Specifics
//

.site-body{
	position: relative;
	z-index: 0;
}

//
// Footer specifics
//

.site-foot{
	background: #fff;
	color: $greyscale-dark;
	padding: 50px 0 40px;

	h3{
		font-size: 1rem;
		span{
			display: block;
			font-weight: 400;
		}
	}

	.footer-list{
		.list-item{
			a {
				font-size: 0.75em;
				text-transform: uppercase;
				font-weight: 400;
			}

			&:first-child{
				a{
					padding-left: 0;
					border-left: 0;
				}
			}
		}
	}
}

@media screen and (min-width: $tablet){
	.site-foot{
		.footer-list{
			margin-top: 42px;
			.list-item a{
				padding: 0 1em 0 1.5em;
				border-left: 1px solid $dark-blue;
			}
		}
	}
}

//
// Block specifics
//

.blog-block{
	background: url("#{$imgUrl}/blog-bg-repeat.jpg") repeat;
}

.blog-entry{
	background: #fff;
	padding: 18px;
	border-radius: 8px;
	border-bottom: 2px solid #d0c7c1;

	&:hover{
		background: rgb(252,251,250);
	}

	p{
		font-size: 0.875rem;
	}

	> a{
		@include subheading;
		font-size: 0.875rem;
		color: $orange;
	}

	+ .blog-entry{
		margin-top: 21px;
	}
}

@media screen and (min-width: $tablet){
	.blog-entry{
		+ .blog-entry{
			margin-top: 0;
		}
	}
}

.tile-item{
	margin-top: 4% !important;
}

@media screen and (min-width: $tablet){
	
	.tile-item{
		margin-top: 0% !important;
	}
}

.sign-up-cta{
	background: url("#{$imgUrl}/sign-up-bg-repeat.jpg") repeat;

	.h1{
		color: $dark-blue;
	}

	h2{
		font-size: 1.5rem;

		span{
			display: block;
			font-size: 1.25rem;
			letter-spacing: 2px;
		}
	}

	p{
		@include subheading;
	}

	.m-btn{
		margin-top: 21px;
	}
}

@media screen and (min-width: $tablet){
	.sign-up-cta{
		h2{
			font-size: 3.5rem;

			span{
				font-size: 3rem;
				letter-spacing: 2px;
			}
		}
	}
}

.speaker-list,
.sponsor {
	margin-bottom: 4%;

	&:first-child{
		margin-bottom: 0;
	}
}

@media screen and (min-width: $tablet){
	.speaker-list,
	.sponsor {
		margin-bottom: 2%;

		&:first-child{
			margin-bottom: 2%;
		}
	}
}

.social-list{
	margin-top: 21px;
}

.social-item [class^="icon-"]{
	margin-right: 11px;
}

@media screen and (max-width: $tablet){
	.conf-cta{
		float: right;
		
		p{
			font-size: 0.75rem;
		}
	}
}

@media screen and (max-width: $tablet){
	.about-block h2{
		margin-bottom: 0;
		border-bottom: 0;
	}
}